<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>User Dashboard</h1>
        <div class="user-details">
            <h2>Profile Details</h2>
            <div class="profile-picture">
                <img id="profile-picture" src="{{profile_picture}}" alt="Profile Picture">
            </div>
            <p><strong>Logged in as:</strong> {{ logged_in }}</p>
            <p><strong>First Name:</strong> {{ first_name }}</p>
            <p><strong>Last Name:</strong> {{ last_name }}</p>
            <p><strong>Username:</strong> {{ username }}</p>
            <p><strong>Email ID:</strong> {{ email }}</p>
            <p><strong>Address:</strong> {{ address_line1 }}, {{ city }}, {{ state }} - {{ pincode }}</p>
        </div>
        <a href="{% url 'LogIn' %}"><button id="logout-button" class="logout-button">Logout</button></a>
    </div>
</body>
</html>
