body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.user-details {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: left;
}

.user-details h2 {
    color: #333;
}

#passWrong{
    color: red;
}

.user-details p {
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}

.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.logout-button {
    padding: 15px 30px;
    background-color: #0072ff;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #005bb5;
}

.logout-button:active {
    background-color: #004494;
}
