<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Successful</title>
    <link rel="stylesheet" href="/static/signupComp.css">
</head>
<body>
    <div class="container">
        <div class="success-message">
            <h2>Signup Successful</h2>
            <p>Your account has been created successfully!</p>
            <a href="{% url 'LogIn' %}" class="login-link">Click here to log in</a>
        </div>
    </div>
</body>
</html>
